
OrderStringNumber/.vs/OrderStringNumber/DesignTimeBuild/

OrderStringNumber/.vs/OrderStringNumber/v15/

OrderStringNumber/OrderStringNumber.sln

OrderStringNumber/OrderStringNumber/bin/Debug/netcoreapp2.2/

*.dll

*.json

*.cache

*.txt

*.pdb

*.tmp

OrderStringNumber/TestOrderString/obj/Debug/netcoreapp2.2/

*.props

*.targets

*.csproj

OrderStringWithNumber/.vs/OrderStringWithNumber/v15/.suo

OrderStringWithNumber/.vs/OrderStringWithNumber/v15/Server/sqlite3/db.lock

*.ide

*.ide-shm

*.ide-wal

TDD_Tennis/.vs/TDD_Tennis/v16/.suo
