
OrderStringNumber/.vs/OrderStringNumber/DesignTimeBuild/

OrderStringNumber/.vs/OrderStringNumber/v15/

OrderStringNumber/OrderStringNumber.sln

OrderStringNumber/OrderStringNumber/bin/Debug/netcoreapp2.2/

*.dll

*.json

*.cache

*.txt

*.pdb

*.tmp

OrderStringNumber/TestOrderString/obj/Debug/netcoreapp2.2/

*.props

*.targets

*.csproj
